@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700;800&display=swap');

:root{
    --fs-title: clamp(1.15rem, 10vw + .5rem, 2.5rem);
    --fs-secondary-title: clamp(1rem, 10vw + .5rem, 2.25rem);
    --fs-paragraph: clamp(.85rem, 10vw, 1.25rem);

    --color-primary: hsl(39, 100%, 45%);
    --color-white: #fff;
    --color-black: #000;
    --color-grey: #e2e2e2;
}

*, *::before, *::after { box-sizing: border-box; }

html { scroll-behavior: smooth; }

body, input, textarea{
    font-family: 'Plus Jakarta Sans', sans-serif;
}
h1{
    font-size: var(--fs-title);
}
h2{
    font-size: var(--fs-secondary-title);
}
h3{
    font-size: 1.25rem;
}
h1, h2, h3{
    font-weight: 700;
    margin-bottom: 20px;
    line-height: 1.1;
}
p{
    font-size: var(--fs-paragraph);
    font-weight: 500;
    line-height: 130%;
}
span{
    font-weight: 700;
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
    display: block;
    object-fit: cover;
}
.header__container--box{
    width: 90%;
    max-width: 1200px;
    margin-inline: auto;
}
.header__container--box > ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}
ul > li{
    list-style: none;
    color: var(--color-white);
    padding: 2px 0;
    font-size: clamp(.25rem, 2vw + .12rem , 1.25rem);
}
i:not(.footer__content--social i){
    margin-right: .3rem;
    background-color: var(--color-white);
    color: #000;
    border-radius: 50%;
    padding: .2rem;
    margin-bottom: 5px;
}
#header__nav > .header__container--box{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#header__info{
    padding-block: 1rem;
}
#header__nav{
    padding-block: .5rem;
    box-shadow: 0 5px 55px rgba(0,0,0,0.15);
    position: sticky;
    top: 0;
    z-index: 2;
}
.header__container--box-logo{
    max-width: 85px;
}
.btn{
    padding: 8px;
    background-color: var(--color-primary);
    color: var(--color-white);
    border-radius: 3px;
    font-weight: 600;
    font-size: 1.25rem;
    cursor: pointer;
}
#hero{
    position: relative;
    background: url('../assets/photoholgic-BmoqhFTwdvc-unsplash.jpg') center center / cover no-repeat;
    padding: 4rem 0 12rem 0;
    padding: 3rem 0 8rem 0;
    z-index: 1;
}
#hero::before{
    position: absolute;
    content: '';
    inset: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: .5;
    z-index: -1;
}
.hero__content, .clients__content, #call-to-action{
    color: var(--color-white);
    text-align: center;
}
.form__box{
    padding: 20px;
    border-radius: 8px;
}
.form__box > form{
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
    margin-top: 20px;
}
input{
    background-color: var(--color-grey);
    outline: none;
    border: none;
    padding: 5px 10px;
}
form > .btn{
    width: fit-content;
    padding: 5px 10px;
    background-color: var(--color-black);
    color: var(--color-white);
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: .8rem;
}
.product__content--paragraph{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
    gap: 15px;
}
#call-to-action{
    padding-block-start: 12rem;
    text-align: center;
}
#producto{
    padding-block-end: 12rem;
}
.round::before {
    content: "";
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: var(--color-primary);
    margin-right: 3px;
  }
.container__image{
    position: relative;
}
.container__image img{
  width: 250px; 
  height: 250px;
  border-radius: 50%; 
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.container__video{
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
    max-width: 1080px;
    margin-inline: auto;
    margin-top: 50px;
}
.container__video iframe{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.clients__content > p{
    max-width: 800px;
    margin-inline: auto;
}
#footer{
    padding: 2rem 0 3rem 0;
}
.footer__content{
    margin-inline: auto;
    width: 90%;
    max-width: 1080px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    color: var(--color-white);
    gap: 30px;
}
.footer__content--info {
    display: flex;
  }
.footer__content--info > .column > ul > li{
    font-size: clamp(.25rem, 2vw + .2rem , 1.25rem);
  }
.column {
   flex: 1;
}
.footer__content--social > a > i {
    font-size: 2rem;
    margin-inline: 5px;
    color: var(--color-white);
    transition: color .65s ease;
}
.footer__content--social > a > i:hover{
    color: var(--color-primary);
}
.swiper {
    width: 100%;
    margin-top: 20px;
  }
.swiper-slide {
    background-position: center;
    background-size: cover;
    max-width: 200px;
}
.swiper-slide-shadow-left, .swiper-slide-shadow-right{
     opacity: 0 !important; 
  }
.swiper-slide img {
    display: block;
    width: 100%;
  }
.swiper-button-prev, .swiper-button-next{
   color: var(--color-white) !important;
   top: 90% !important;
}

/* utilitarias */
.bg-black{
    background-color: var(--color-black);
}
.bg-grey{
    background-color: var(--color-grey);
}
.bg-orange{
    background-color: var(--color-primary);
}
.bg-white{
    background-color: var(--color-white);
}
.color-primary{
    color: var(--color-primary);
}
.wrapper{
    display: grid;
    grid-template-columns:
    1fr
    min(1080px, calc(100% - 64px))
    1fr;
}
.wrapper > * {
    grid-column: 2;
  }
.full-bleed {
    grid-column: 1 / -1;
}
.pd-container{
    padding-block: 4rem;
}
.grid__container{
    width: min(1080px, 100% - 64px);
    margin-inline: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
    row-gap: 30px;
    column-gap: 100px;
}
@media (min-width:595px) {
    .hero__content{
        text-align: left;
    }
    .container__image img{
        width: 350px;
        height: 350px;
    }
    #hero{
        padding: 4rem 0 12rem 0;
    }
    #producto{
        padding-block-end: 16rem;
    }
    #call-to-action{
        padding-block-start: 14rem;
    }
    .swiper-slide {
        margin-inline: 70px;
    }
    .swiper-button-prev, .swiper-button-next{
        top: 50% !important;
     }
     #footer{
        padding: 1.5rem 0 2.5rem 0;
    }
}
@media (min-width: 999px){
    #hero{
        padding: 6rem 0 14rem 0;
    }
    .container__video{
        padding-top: 40%;
    }
    .footer__content{
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }
    #footer{
        padding: 2rem 0 5rem 0;
    }
}